{
    "endOfLine": "auto",
    "printWidth": 120,
    "trailingComma": "es5",
    "semi": false,
    "doubleQuote": true,
    "jsxSingleQuote": true,
    "singleQuote": true,
    "useTabs": true,
    "tabWidth": 2
}