@tailwind base;
@tailwind components;
@tailwind utilities;

@import './style/index.scss';
body {
	color: #666;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.custom-shadow {
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}
.transition-show {
	transition: all 0.3s ease;
}

.trapezoid::before {
	content: '';
	width: 215px;
	height: 80px;
	border-radius: 35px;
	background-color: #72b626;
	position: absolute;
	top: -45px;
}
.trapezoid::after {
	content: '';
	width: 200px;
	height: 70px;
	border-radius: 30px;
	border: 2px solid white;
	position: absolute;
	top: -40px;
	background-color: transparent;
}

.dark .trapezoid::before {
	background-color: #ffb400;
}

@keyframes wiggle {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-10deg);
	}
	75% {
		transform: rotate(10deg);
	}
}

.animate-icon {
	display: inline-block;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
	animation: wiggle 0.5s ease-in-out infinite;
}
